---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="TrackLap">
  <section class="min-h-[80vh] flex items-center justify-center">
    <h1 class="text-4xl font-bold text-center">
      <span class="text-brand font-extrabold">Track</span> every run. <br /> Improve
      every
      <span class="text-brand font-extrabold">lap</span>.
    </h1>
    <!-- <img
      src="/Athlete.png"
      alt="Athlete"
      class="absolute w-300 max-w-none h-auto z-0 opacity-80"
    /> -->
  </section>
</MainLayout>
