---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="TrackLap">
  <section class="min-h-[80vh] flex items-center justify-center">
    <h1 class="text-4xl font-extrabold">Track every lap. Improve every run.</h1>
  </section>
</MainLayout>
