---
import ThemeToggle from "./ui/ThemeToggle.astro";
---

<header class="border-b border-zinc-200 dark:border-zinc-800">
  <div class="max-w-7xl mx-auto flex items-center justify-between p-4">
    <a href="/" class="relative flex items-center justify-center w-fit p-4">
      <img
        src="/Athlete.png"
        alt="Athlete"
        class="absolute w-24 max-w-none h-auto z-0 opacity-80"
      />

      <span
        class="relative z-10 translate-y-[5px]
         text-sm font-bold leading-none
         text-black dark:text-white bg-white dark:bg-black transition-all
         px-1 py-[1px]
         rounded-md"
      >
        TRACKLAP
      </span>
    </a>

    <nav class="flex items-center gap-4">
      <ThemeToggle />
    </nav>
  </div>
</header>
